<div class="container" >
	<a class="pull-right navbar" href="#/new">Create a new poll</a><br>
	<a class="pull-right navbar" ng-click="logout()">logout</a>
	<h1>Welcome, {{ user.name }}</h1>
	<br>
	<br>
	<h3>Current Polls: </h3>
	<table class="table table-bordered table-stripe table-hover">
		<thead>
			<th>Name</th>
			<th>Survey Question</th>
			<th>Date Posted</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr ng-repeat="poll in polls">
				<td>
					{{ poll.name }}
				</td>
				<td>
					<a ng-click="getOneQ(poll)" href="#/poll/{{ poll._id }}">
						{{ poll.question }}
					</a>
				</td>
				<td>
					{{ poll.createdAt | date }}
				</td>
				<td ng-if="user.name === poll.name">
					<a ng-click="removePoll(poll._id)" href="#/remove/{{ poll._id }}">
					delete
				</a>
			</td>
			</tr>
		</tbody>
	</table>
</div>
